    .common {
      /* black:  */
      color: #000;
      /* .white:  */
      color: #fff
    }
    .background {
      /* paper:  */
      color: #163b50;
      /* default:  */
      color: #163b50
    }
    .primary {
      /* light:  */
      color: #c9c254;
      /* main:  */
      color: #0a2332;
      /* dark:  */
      color: rgba(37, 130, 187, 1);
      /* contrastText:  */
      color: #fff
    }
    .secondary {
      /* light:  */
      color: #ff4081;
      /* main:  */
      color: rgba(229, 9, 20, 1);
      /* dark:  */
      color: #2b59c3;
      /* contrastText:  */
      color: #fff
    }
    .error {
      /* light:  */
      color: #e57373;
      /* main:  */
      color: rgba(229, 9, 20, 1);
      /* dark:  */
      color: #d32f2f;
      /* contrastText:  */
      color: #fff
    }
    .text {
      /* primary:  */
      color: rgba(0, 0, 0, 0.87);
      /* secondary:  */
      color: rgba(0, 0, 0, 0.54);
      /* disabled:  */
      color: rgba(0, 0, 0, 0.38);
      /* hint:  */
      color: rgba(0, 0, 0, 0.38)
    }